<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}} |  传智影业</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/wap.css">
</head>

<body>
    <!-- 顶部导航栏开始 -->
    <div class="top">
        <div class="header">
            <a href="#/home"><img src="assets/img/logo.png" alt=""></a>
            <div class="search" ng-controller="indexCtrl">
                <input ng-keyup="search($event)" id="keywords" ng-required="true" class="my-input" type="text" placeholder="电影搜索" ng-value="keywords">
                <button ng-click="search($event)" >搜索</button>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <!--li中添加 active 类样式，显示焦点状态。-->
                <li class="active"><a href="#/home">首页</a></li>
                <li><a href="#/in_theaters">正在热映</a></li>
                <li><a href="#/coming_soon">即将上映</a></li>
                <li><a href="#/top250">Top250</a></li>
            </ul>
        </nav>
    </div>
    <!-- 顶部导航栏结束 -->
    <div class="container">
        

        <!-- <div ng-view></div> -->
        <ng-view></ng-view>
        
        <!--其他-->
    </div>
    <footer class="footer">
        <div class="container">
            <p>版权所有&copy; 前端与移动开发学院(允许侵权)</p>
        </div>
    </footer>

    <script src="./assets/js/jquery-1.10.1.min.js"></script>
    <script src="./assets/layer/layer.js"></script>
    <!-- <script src="assets/js/prefixfree.min.js"></script> -->
     <script src="./assets/js/angular-1.6.9.min.js"></script>
    <script src="./assets/js/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="./home/script.js"></script>
    <script src="./top250/script.js"></script>
    <script src="./coming_soon/script.js"></script>
    <script src="./in_theaters/script.js"></script>
    <script src="./detail/script.js"></script>
    <script src="./Service/common.js"></script>
    <script src="./_404/script.js"></script>
    <script src="./search/script.js"></script>
</body>

</html>
