<!--电影列表开始-->
<div class="list">
    <ul>
        <li ng-repeat="item in list track by $index">
            <a href="#/detail/{{item.id}}">
                <img onerror='this.src="assets/img/sc.jpg"' title="{{item.images.large}}" src="{{item.images.large}}">
            </a>
            <div class="meta">
                <h4><span>{{item.title}}</span> <em>{{item.rating.average}}分</em></h4>
                <div class="otherinfo">类型:
                    <span ng-repeat='v in item.genres'>{{v}}</span>
            </div>
            </div>
        </li>
        
    </ul>
    <div class="paging">
        <label>总共：{{count}}条记录,第0/0页;</label>
        <!-- 加上disable类样式，表示按钮禁用状态 -->
        <button class="prev disable ">上一页</button>
        <button class="next">下一页</button>
    </div>
</div>
<!--电影列表结束-->